.jumbotron {
    color: white;
    text-align: center;
    font-size: 60px;
    font-style: bold;
    /* padding-bottom: 40px; */
}

.card-header {
    background-color: navy;
    color: white;
    margin-top: 0px;
    padding: 0;

}

.btn {
    background-color: gray;
    color: white;
}

.card {
    font-size: 16px;
}
